node_modules
.env
.next/
public/projects/sporton/home/
public/projects/sporton/auth/person-info/
public/projects/sporton/auth/player-info/
public/projects/sporton/auth/club-info/
public/projects/sporton/auth/signin/
public/projects/sporton/auth/signup/
public/projects/sporton/auth/choose-role/
public/projects/sporton/auth/club-info/