node_modules
.env
.next/
.DS_Store
*.DS_Store
public/projects/sporton/home/on/
public/projects/sporton/home/network/
public/projects/sporton/home/chat/
public/projects/sporton/home/notifications/
public/projects/sporton/home/foras/
public/projects/sporton/home/store/
public/projects/sporton/home/my-products/
public/projects/sporton/home/settings/
public/projects/sporton/home/profile/mobile/
